.date-tables {
  .date-tables__panel {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 50%;
    min-width: 224px;
    padding: 16px;
    margin: 0;

    &.is-right {
      .date-tables__panel__header {
        .buttons-wrapper {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
        }

        div {
          margin-right: 50px;
          margin-left: 50px;
        }
      }
    }

    &.is-left {
      border: 0;

      @media #{$small-only} {
        border-bottom: $border-default;
      }
    }

    .date-tables__panel__header {
      position: relative;
      height: 28px;
      text-align: center;

      button {
        float: left;
        margin-left: 6px;

        @media #{$small-only} {
          position: relative;
          top: -6px;
          left: -4px;
          padding: 8px;
          margin-left: 0;
        }
      }

      div {
        margin-right: 50px;
        font-size: 14px;
      }

      .date-tables__icon-btn {
        margin-top: 3px;
        font-size: 12px;
        color: rgb(151, 168, 190);
        cursor: pointer;
        background: transparent;
        border: 0;

        &:hover {
          color: #20a0ff;
        }

        &.el-icon-d-arrow-left,
        &.el-icon-d-arrow-right,
        &.el-icon-arrow-left,
        &.el-icon-arrow-right {
          &::before {
            font-size: 8px;
          }
        }
      }
    }
  }

  @media #{$small-only} {
    .date-tables__panel {
      width: 100%;

      &.is-left {
        border-right: $none-value;
        border-bottom: $border-default;
      }
    }
  }
}
