.date-range {
  z-index: 9998 !important;
  box-sizing: border-box;
  width: 520px;
  margin-top: -3px;
  line-height: 20px;
  color: rgb(72, 87, 106);
  background: #fff;
  border: 1px solid rgba($brand-primary-color, 0.6);
  border-radius: 0 0 $border-radius-base $border-radius-base;
  box-shadow: $pop-box-shadow;

  .date-range__content {
    height: inherit;

    .date-range__footer {
      display: flex;
      justify-content: space-between;
      padding: 0 16px 16px;
      text-align: right;
      background-color: #fff;

      button {
        &.btn-cancel {
          font-weight: 600;
          color: rgb(72, 87, 106);

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  @media #{$small-only} {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    min-width: 100%;
    height: 100%;
    overflow-y: auto;
    border: 0;

    .date-range__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > * {
        flex-shrink: 0;
      }
    }
  }
}

.zoom-in-top-enter-active,
.zoom-in-top-leave-active {
  opacity: 1;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform: scaleY(1);
  transform-origin: center top;
}

.zoom-in-top-enter,
.zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}
