.date-table {
  width: 100%;
  min-width: 224px;
  font-size: 12px;
  table-layout: fixed;
  user-select: none;

  th {
    padding: 5px;
    font-weight: 500;
    color: rgb(131, 145, 165);
    text-align: center;
  }

  td {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;

    &.next-month,
    &.prev-month {
      color: #ddd;
    }

    &.available:hover {
      background-color: rgb(228, 232, 241);
    }

    &.in-range {
      background-color: rgb(210, 236, 255);

      &:hover {
        background-color: rgb(175, 221, 255);
      }
    }

    &.today {
      position: relative;
      color: #20a0ff;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        content: " ";
        border-top: 0.5em solid #20a0ff;
        border-left: .5em solid transparent;
      }
    }

    &.current:not(.disabled),
    &.start-date,
    &.end-date {
      color: #fff;
      background-color: #20a0ff !important;
    }

    &.disabled {
      color: #ccc;
      background-color: $table-bg-accent;
      opacity: 1;
    }
  }
}
