@mixin background-img {
  margin-right: -#{$layout-padding};
  margin-left: -#{$layout-padding};
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin box-shadow($x-axis: 0.25em, $y-axis: 0.25em, $blur: 0.125em, $spread: 0, $color: $primary-color) {
  box-shadow: $x-axis $y-axis $blur $spread $color;
}

@mixin layout-size() {
  width: $layout-width;
  max-width: 100%;
  padding: 0 $layout-padding;
  margin: 0 auto;
}

@mixin marginless($size: sm) {
  @include media-breakpoint-down($size) {
    margin-right: -#{$layout-padding};
    margin-left: -#{$layout-padding};
  }
}
