.full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ul-disc {
  padding-left: 1.2em;
  list-style: disc;
}

.hr-star {
  position: relative;
  border: none;
  margin: 2em 0;
  height: 1em;

  &::after {

    position: absolute;
    width: 100%;
    text-align: center;
    letter-spacing: 2em;
    content: "⋇⋇⋇";
  }
}
