.project.project-beauty-quotient {
  .img-container {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .img-golden-rectangle {
    width: 24em;
    margin: 2em auto;
    text-align: center;
  }

  .img-logo {
    margin-top: 4rem;
  }
}
