.project.project-panas {

  .mobile-demo {
    display: flex;
    justify-content: center;
    border-top: $border;

    .mobile-demo__image {
      margin-right: 16px;

      p {
        float: right;
      }

      img {
        max-width: 260px;
        border: $border;
      }
    }

    .mobile-demo__description {
      max-width: 260px;
    }
  }

  .mobile-demo.mobile-demo--reverse {
    flex-direction: row-reverse;

    .mobile-demo__image {
      margin-right: 0;
      margin-left: 16px;

      p {
        float: left;
      }
    }

    .mobile-demo__description{}
  }
}
