.project.project-tagalong {
  .project__banner {
    img {
      width: auto;
      height: 8em;
    }
  }

  .project__title {
    display: none;
  }

  .table-technologies {
    width: 100%;
    margin: 3em 0;
    table-layout: fixed;

    th,
    td {
      padding: 0.25em 0;
      text-align: center;
    }
  }
  .img-tagalong {
    padding-bottom: 1em;
    border-top: 1px solid $gray-200;
    border-bottom: 1px solid $gray-200;
  }

  @include media-breakpoint-up(md) {
    .img-tagalong img {
      // p tag
      width: 75%;
      margin: auto;
    }
  }
}
